*{
    margin:0px;
    border:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;   
}
header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top:0px;    
}
header img{
    width: 15px;
    height: 15px;
}
main{
    width: 100%;
    
}
#main_wrap {
    width: 600px;
    margin: 200px auto 0px auto;
}
#logo{
    width:274px;
    margin:auto;
}
#searchbar{
    width:450px;
    height: 30px;
    margin:5px 25px;
}
#searchbar_wrap{
    display: block;
    width: 500px;
    height: 40px;
    box-shadow: 0px 0px 5px rgb(141, 143, 145);
    margin:25px auto 10px auto;
    border-radius: 30px;    
}
#button_box{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#button_box input{
    width:120px;
    height:35px;
    margin: 20px 5px 20px 5px;
    background-color: rgb(242, 242, 242);
    color: rgb(95, 99, 104);
    border-radius: 3px;
}
#main_bottom_text{
    text-align: center;
}

a{
  color: black; 
  text-decoration: none; 
}
a:hover{
    text-decoration: underline;
}
#button_anmelden{
    margin:0px 10px 0px 10px;
    width:90px;
    height:30px;
    background-color:#4285f4;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header div{
    margin:20px 15px 0px 15px;
    
}
header div a{
    font-size: 12px;
    color:rgb(104, 102, 102);
    margin: 10px;
}
header div img{
   
}
footer{
    width:100%;
    position: absolute;
    bottom: 0px;
    background-color: rgb(243, 243, 243);
}
#bottom_footer_bar{
    
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.footer_bar{
    height: 45px;
    line-height: 45px;
    padding: 0px 20px;
    border:1px solid rgb(231, 231, 231);
}
.footer_bar a,div{
    font-size: 12px;
    color:rgb(104, 102, 102);
}